*
{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
}

.menu-bar 
{ 
    background-color: darkblue;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-bar a 
{
    text-decoration: none;
    color: #000000; 
}

#home-button 
{
    background-color: rgba(214, 212, 212, 0.9);
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

#logout-button 
{
    background-color: rgba(214, 212, 212, 0.9);
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.name
{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-top: 50px;
}

.main
{
    background-color: rgba(214, 212, 212, 0.9);
    width: 90%;
    max-width: 600px;
    margin: 50px auto 0;
    border-radius: 30px;
    padding: 30px;
    border: 1px solid black;    
}

.quiz
{
    padding: 10px 0; 
}

.question-number 
{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.timer 
{
    width: 50px;
    height: 50px;
    border: 2px solid black; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 18px; 
    float: right; 
    margin-left: 10px; 
    margin-top: -30px;
}

.line 
{
    border: none;
    border-top: 6px solid #000; 
    margin-top: 10px; 
}

.quiz h1
{
    font-size: 20px;
    color: darkblue;
    font-weight: 600;
    text-align: left;
}

.btn
{
    font-size: 18px;
    background-color: white;
    color: black;
    font-weight: 600;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled])
{
    background-color: black;
    color: white;
}

.btn:disabled
{
    cursor: no-drop;
}

#next-button
{
    background-color: darkblue;
    color: white;
    font-weight: 500;
    width: 150px; 
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none; 
}

.correct
{
    background-color: lightgreen;
}

.incorrect
{
    background-color: lightcoral;
}

.submit-button 
{
    background-color: #4CAF50; 
    color: white;
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 10px 0; 
    cursor: pointer; 
    text-align: center;
}